.nav {
  height: 35px;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

#nav-links {
  display: flex;
  margin: 0;
}

#nav-item {
  margin-left: 2rem;
  list-style: none;
  font-size: 1.3rem;
}
