.header {
  height: 830px;
  /* background: url("../img/man.png") no-repeat center center / cover; */
  background-color: #fbfbfb;
}
.nav {
  height: 35px;
  display: flex;
  justify-content: space-between;
  padding: 30px 110px;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title-head {
  margin-left: 0.8rem;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  color: #202020;
}

#nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

a {
  text-decoration: none;
}

#underline {
  background-color: #ff5203;
  width: 50px;
  height: 2px;
  margin-top: 3px;
}

#underline2 {
  background-color: #ff5203;
  width: 35px;
  height: 2px;
  margin-top: 3px;
}

.active-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

li.active {
  margin: 5px 0;
  color: #ff5203;
}

.nav-item {
  margin-left: 2.3rem;
  list-style: none;
  font-size: 1.2rem;
  color: #515151;
  text-decoration: none;
}

#subscribe {
  margin-left: 3rem;
  height: 40px;
  width: 140px;
  background-color: #ff5203;
  color: #fff;
  border: none;
  border-radius: 5px;
}

#explore {
  height: 40px;
  width: 120px;
  background-color: #ff5203;
  color: #fff;
  border: none;
  margin-top: 2rem;
  border-radius: 5px;
}

.text-header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

img#man {
  height: 750px;
  margin-right: -1rem;
}

.main-heading {
  font-size: 3.4rem;
}

.sub-heading {
  color: #515151;
  font-size: 1.2rem;
}

.heading-container {
  width: 50%;
  margin: 6rem 6rem;
}

.sub-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: -2.5rem;
}

.sub-title-head {
  margin-left: 0.8rem;
  color: #ff5203;
}
